* {
  font-family: helvetica;
}

h1 {
  font-size: 100px;
  background-image: url("../pictures/pattern.jpeg");
  font-weight: bold;
  color: khaki;
  text-align:center;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

span.price {
  font-weight: bold;
  color: blue;
}

#brushes {
  background-color:mediumspringgreen;
}

#frames {
  background-color: lightcoral;
}

#paint {
  background-color: skyblue;
}
  
